<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>DOG API Material Project</span>
        <span class="nav-spacer"></span>
        <button mat-button onClick="window.location.reload()">Get Another Random Image</button>
        <button mat-button [routerLink]="['']">Back to Home Page</button>
    </mat-toolbar-row>
</mat-toolbar>

<div class="panel-heading">
    <h2 align="center"> Random Picture From Breed List </h2>
</div>
<div class="panel-body" align="center">
    <div class="dataTable_wrapper">
        <table class="table table-striped table-bordered table-hover" >
            <tbody>
                <tr align="center">
                    <td>

                        <div>
                            <img src="{{ breedlist.message }}">
                        </div>

                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>